*.log
Makefile
config.h
config.status
stamp-h1
src/.deps/
src/llk
src/llkk
src/logkeys

# vim buffers
.*swp
.*swo
*.vim

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
